.content-about .wrapper .left .content__holder .content__subheader div {
    color: #fcc210;
}


.about-container{
    img{
        padding: 2rem 0;
    }
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    .about-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        .left{
            width: 50vw;
        }

        .about__holder{
            @include breakpoint(large only) {
                padding-left: 6.5rem;
            }
    
            @include breakpoint(four only) {
                padding-left: 6.5rem;
            }
    
            @include breakpoint(six only) {
                padding-left: 6.5rem;
            }
            
            @include breakpoint(nine only) {
                padding-left: 6.5rem;
            }
    
            @include breakpoint(two only) {
                padding-left: 6.5rem;
            }
            @include breakpoint(twoeight only) {
                padding-left: 7.3rem;
            }
        }
        
    }
    
    .main-slide, .about__slide__fifty{
        width: 50vw;
    }

    .about__slide__fifty__left{
        text-align: left;
        max-width: 400px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 3rem;
    }
    .about__slide__fifty__left_1{
        text-align: left;
        max-width: 700px;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 150px;
    }
    .about__huntsworth{
        // margin: 0 5rem;
        margin-left: 115px;
        margin-right: 180px;
    }
    .about__whole_map{
        width: 100%;
    }

    .about__width__auto{
        width: auto;
    }

    .slide-about{
        width: auto;
        img{
            // height: 100% !important;
        }
    }
    .about__content__description{
        font: 1rem/150% "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: #5D5D5D;
        margin: 1.5rem 0;
    }
    .about__content__subheader{
        font: 900 3.3375rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: $blue;
    }
    
}



#Layer_1{
    .st0{enable-background:new    ;}
    .st1{fill:#38A7A0;}
    .st2{fill:#80448E;}
    .st3{fill:#57A0D3;}
    .st4{fill:#E3A424;}
    .st5{fill:#635FA6;}
    .st6{fill:#513059;}
    .st7{fill:#FFFFFF;}
    .st8{fill:#304078;}
    .st9{fill:#4A7628;}
    .st10{fill:#3AA6A0;}
    .st11{fill:#589FD2;}
    .st12{fill:#E1A225;}
}
#exactMapSvg{
    .st0{display:none;}
    .st1{clip-path:url(#SVGID_2_);}
    .st2{fill:#E1A225;}
    .st3{fill:#635FA6;}
    .st4{fill:#513059;}
    .st5{fill:#FFFFFF;}
    .st6{fill:#304078;}
    .st7{fill:#589FD2;}
    .st8{fill:#204B66;}
    .st9{fill:#5D5D5D;}
    .st10{fill:#D41367;}
    .st11{fill:#12284B;}
    .st12{clip-path:url(#SVGID_4_);fill:#D41367;}
    .st13{clip-path:url(#SVGID_4_);fill:#12284B;}
    .st14{fill:#0F294B;}
}