#menu a{
    @include breakpoint(large down) { 
        font: 700 4.1875rem/80% Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    }
}


#social li{
    @include breakpoint(large down) { 
        font: 500 0.7rem/100% Avenir,sans-serif;
        padding: 0 .1rem;
    }
}