.services .left .content__holder .content__subheader{
    color: #913F97;
}

.services .left .content__holder .content__btn a{
    background: #913F97;
}

.slick-right{
    width: 50vw !important;
    height:100%;
    .slick-services{
        width: 100%;
        height: 100%;
        height: 100vh;
    }
    .slick-services-holder{
        display: flex;
        justify-content: center;
        align-content: center;
        
    }
    .slick-services-list{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
        h1{
            align-self: center;
            margin: 2rem 0;
            font: 300 1.625rem/100% "Avenir","Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            text-transform: uppercase;
            color: $blue;
        }
        img{
            margin: 0 auto;
        }
    }
    .slick-list{
        height: 100%;
    }
}

.services__container{
    width: 100%;
    height: 100%;
    .wrapper{
        grid-template-columns: 1fr;
    }
    .main__slide{
        max-width: 50vw;
    }
    .swiper__slide__services{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        text-align: center;
        justify-content: center;
        position: relative;
        
        .services__holder{
            position: relative;
            padding: 0 2rem;
            border-left: 1px solid #d5d5d5;
            h4{
                text-align: left;
                width: 100%;
                font: 2.625rem/150% "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
                color: #5D5D5D;
                
            }
            p{
                font: 1rem/150% "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
                color: #5d5d5d;
                margin: 1.5rem 0;
                text-align: left;
                
            }
            img{
                padding: 4rem 0;
            }
        }
    }

    
    .full__mountain{
        // border-left: 1px solid #d5d5d5;
        width: auto;
    }
  
}

// communications
// design
// production
// social-media
// strategy